# local history dir
/.history

# Win10 shortcut pointing to References dir in HDD
/References.lnk

# execution files
/source/main*
/source/test*

# Input / Output files
/source/in.txt
/source/out.txt

# temporary files directory
/temp

# CPH Judge files
.cph
out.txt
*[0-9][A-Z]
*[A-Z].cpp
*[A-Z].exe
