# history of edited files (log)
/.history

# Windows folder shortcuts to References folder in my HDD
/References.lnk

# temp files:
# (materials --> to sort and archive)
/temp/materials
# preparing book (already exist in References folder)
/temp/book.pdf
