# local history dir
/.history

# Win10 shortcut pointing to References dir in HDD
/References.lnk

# execution files
/src/main.exe
/src/test.exe
/src/main.cpp

# Input / Output files
/src/in.txt
/src/out.txt

# (materials --> to sort and archive)
.temp/materials

# (already exist in References folder -dont back it up)
.temp/book.pdf

# CPH Judge files
.cph
out.txt
*[0-9][A-Z]
*[A-Z].cpp
*[A-Z].exe
